{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c657ef450aaa84fd701fe738f8fe8670",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 351,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"data\":[{\"access_token\":\"27786aa8670ec4a3383ba9a3fcadf2532356c69da85e74979964fd027692a471\",\"created_at\":\"2021-05-11T13:33:59.181Z\",\"expires_in\":36000,\"refresh_token\":\"35fb1c735cd55a4155000c6eceb5b5a9114ccdde2c1914eb9d639cd639f36eab\",\"token_type\":\"bearer\",\"account_id\":189185}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"ca15b84d5acf8cba4e5d9c41d6b44c6f\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388,
      },
      {
        "_id": "e53ea2f9cd3a90ce53a41e58fd54104e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/users?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1037,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"pagination\":{\"before_cursor\":null,\"after_cursor\":null,\"previous_link\":null,\"next_link\":null},\"data\":[{\"activated_at\":\"2021-04-28T21:10:57.207Z\",\"created_at\":\"2021-04-28T21:10:57.210Z\",\"email\":\"nick.dowmon@jupiterone.com\",\"username\":\"\",\"firstname\":\"Nick\",\"group_id\":null,\"id\":132422371,\"invalid_login_attempts\":0,\"invitation_sent_at\":\"2021-04-28T21:10:57.187Z\",\"last_login\":\"2021-05-11T12:41:23.269Z\",\"lastname\":\"Dowmon\",\"locked_until\":null,\"comment\":\"\",\"openid_name\":\"nick.dowmon\",\"locale_code\":null,\"preferred_locale_code\":null,\"password_changed_at\":\"2021-04-28T21:11:23.448Z\",\"phone\":\"\",\"status\":1,\"updated_at\":\"2021-05-11T12:43:19.134Z\",\"distinguished_name\":null,\"external_id\":null,\"directory_id\":null,\"member_of\":null,\"samaccountname\":null,\"userprincipalname\":null,\"manager_ad_id\":null,\"manager_user_id\":null,\"role_id\":null,\"company\":\"\",\"department\":\"\",\"title\":\"\",\"state\":1,\"trusted_idp_id\":null,\"custom_attributes\":{\"customUserField\":\"custom-user-value\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "link",
              "value": ""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4996"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3293"
            },
            {
              "name": "etag",
              "value": "W/\"721219e459de40551c6d98a13e9b2270\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
